django==3.1.1
django-q==1.3.3
ipython==7.18.1
json5==0.9.5
mysqlclient==1.4.6
notebook==6.1.4
numpy==1.19.1
pandas>1.0.0
PyMySQL==0.10.0
quandl==3.5.3
requests==2.24.0
sqlalchemy==1.3.19
tqdm==4.48.2
django-extensions==2.2.9
gunicorn==19.8.1
croniter==0.3.36
django-grappelli==2.14.3

